extends ../../layouts/page.pug
include ../../mixins/forms

block title
  = t('views.users.new.title')

block content
  .row.justify-content-center
    .col-12.col-md-8
      .card.shadow-sm
        .card-body.row.p-5
          .col-12.col-md-6.d-flex.align-items-center.justify-content-center
            img.rounded-circle(src=assets('assets/avatar.jpg'))
          .col-12.col-md-6.mt-3.mt-mb-0
            +form(route('users.create'), 'POST')
              +floatingInput('firstName', t('users.fields.first_name'), 'text', user.firstName)
              +floatingInput('lastName', t('users.fields.last_name'), 'text', user.lastName)
              +floatingInput('email', t('users.fields.email'), 'email', user.email)
              +floatingInput('password', t('users.fields.password'), 'password')
              +submit(t('actions.save'))

